svg{
	transform: scaleX(-1);
	max-height: 50vh;
	margin-top: 25vh;
	position: relative;
}
#arm {
	transform-origin: 100% 30% 0;
	transform: rotate(1deg) translateX(10px);
}

.target{
	background: #000;
	width: 20px;
	height: 20px;
	position: absolute;
	right: 50px;
	top: 100px;
	border-radius: 50%;
	border: 10px solid #ccc;
	box-shadow: 0 0 0 10px #000;
	cursor: crosshair;
}

.target::after{
	content: '';
	width: 10px;
	height: 10px;
	background: #fff;
	position: absolute;
	left: calc(50% - 5px);
	top: calc(50% - 5px);
	border-radius: 50%;
}

.target.shooted{
	background: red;
	box-shadow: 0 0 0 10px red;
	opacity: 0;
	transition: .5s opacity;
}